* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
}

header.menu-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #0057b7, #00c9a7);
    color: #fff;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-between;
}

header.menu-sticky h1 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

header.menu-sticky nav .container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

header.menu-sticky nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

header.menu-sticky nav a:hover {
    color: #ffcc00; 
    text-decoration: underline;
}

section {
    min-height: 80vh;
    padding: 120px 20px 40px 20px;
    background: linear-gradient(135deg, #cbefff, #a3dbef, #7bc9e9);
}

.container2{
    display:flex;
    flex-direction: column;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    border-radius: 12px;
    margin: 25px auto 100px auto;
    width: 95%;
    padding: 20px;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    height: 90%;
}

.container2 h3{
    font-size: 15px;
    color: rgb(69, 67, 67)
}

footer {
  background-color: #1565C0;
  color: white;
  text-align: center;
  padding: 20px;
  display:flex;
  flex-flow: row;
  justify-content:center ;
}